DATABASE_URL=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
FRONTEND_URL=
JWT_SECRET=
APP_URL=

# Email / Gmail SMTP Configuration (Nodemailer)
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_FROM=